*{
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
html, body {
  position: relative;
  height: 100%;
}
body {
  font-family: 'Yanone Kaffeesatz', sans-serif, 微軟正黑體!important;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  position: relative;
}
section{padding: 100px 0;}


/*----------------------------*/
/*wed*/
/*----------------------------*/

/*----------------------------*/
/*精選作品01*/
/*----------------------------*/
.intro{
  margin: 0 auto;
  position: relative;
}
.intro-img {
    width: 65%;
}
.intro-text {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    width: 40%;
    background: #fff;
    padding: 8% 5%;
    border: solid 2px #b49383;
    box-shadow: 0px 45px 70px rgba(0,0,0,0.24);
    transform: translateY(-50%);
}
.intro-text1 {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 40%;
    background: #fff;
    padding: 8% 5%;
    border: solid 2px #b49383;
    box-shadow: 0px 45px 70px rgba(0,0,0,0.24);
    transform: translateY(-50%);
}
.page_subtitle {
    font-family: 'Edward', sans-serif;
    color: #b49383;
    line-height: 0.75;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}
/*----------------------------*/
/*精選作品02*/
/*----------------------------*/

/*----------------------------*/
/*wed-內頁*/
/*----------------------------*/
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
/*----------------------------*/
/*色票*/
/*----------------------------*/
.standard-color {
    justify-content: center;
    padding: 40px 0;
}
.color-m {
    box-shadow: 1px 1px 2px rgb(195, 195, 195);
    width: 11%;
    margin: 0 10px;
}
.color-m > div {
    background: #eee;
    width: 100%;
    height: 80px;
}
.color-m p {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
/*----------------------------*/
/*wed*/
/*----------------------------*/
/*----------------------------*/
/*wed-page*/
/*----------------------------*/
#hero .hero-bg {
    height: 360px;
    position: relative;
}
#hero .hero-ttl .svg-line-text {
    overflow: visible;
    height: 86px;
    margin-top: -30px;
    font-size: 86px;
    line-height: 1;
    letter-spacing: .2em;
}
.hero-ttl {
    text-align: center;
}
.svg-line-text text {
    fill: rgba(255,255,255,0);
    stroke: #333;
    stroke-width: .8;
    stroke-linejoin: round;
    line-height: 1;
    font-family: 微軟正黑體;
}
.title .h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 微軟正黑體;
    line-height: 1.2;
    color: inherit;
    text-align: center;
}
.title hr {
    width: 32px;
    border-top: 5px solid rgb(244, 174, 174);
    margin: 4px auto;
}
.standard-color {
    justify-content: center;
    padding: 40px 0;
}
.wed-Show{
    background-image: url(../img/PC.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    margin: 0 auto;
}
.wed-Show > div{
    width: 90%;
    height: 500px;
    overflow: auto;
    margin: 49px auto;
}
.wed-Show > div::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.wed-Show > div::-webkit-scrollbar-thumb {
  background-color: #f4aeae;
  border-radius: 10px;
}
.wed-Show > div::-moz-scrollbar {
  width: 8px;
  background-color: transparent;
}
.wed-Show > div::-moz-scrollbar-thumb {
  background-color: #f4aeae;
  border-radius: 10px;
}
.wed-Show > div::-ms-scrollbar {
  width: 8px;
  background-color: transparent;
}
.wed-Show > div::-ms-scrollbar-thumb {
  background-color: #f4aeae;
  border-radius: 10px;
}
/*----------------------------*/
/*色票*/
/*----------------------------*/
.standard-color {
    justify-content: center;
    padding: 40px 0;
}
.color-m {
    box-shadow: 1px 1px 2px rgb(195, 195, 195);
    width: 8%;
    margin: 0 10px;
}
.color-m > div {
    background: #eee;
    width: 100%;
    height: 80px;
}
.color-m p {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-family: 微軟正黑體;
}
/*----------------------------*/
/*wed-page*/
/*----------------------------*/
.d-m{display: none;}
.m-auto{margin: 0 auto;}
@media only screen and (max-width: 1024px){
/*----------------------------*/
/*wed*/
/*----------------------------*/
.wed-Show > div {
    height: 390px;
    margin: 39px auto;
}
/*----------------------------*/
/*wed*/
/*----------------------------*/
}

@media only screen and (max-width: 425px){
section {padding: 50px 0;}
.d-m-no{display: none;}
.d-m{display: block;}
.color-m{width: 18%;}
.color-m > div{height: 50px;}
.color-m p {
    font-size: 12px;
    font-weight: 100;
    padding: 5px 0;
}
.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 90%;
    max-width: 90%;
}
.page_subtitle{    font-size: 1rem;    margin: 0 0 5px 0;}
.intro-text p , .intro-text1 p {
    font-size: 12px;
    font-weight: 100;
    line-height: 1.2;
    padding-top: 5px;
}
.intro-text, .intro-text1 {
    top: 71%;
    width: 47%;
    padding: 5% 2%;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
}
}